SECRET_KEY=1fe431a7ce886740a82e163b510cbaae8e32815bcec8de9f58328a73d05d3e3d

INITIAL_ADMIN_NAME=Admin
INITIAL_ADMIN_EMAIL=admin@mail.com
INITIAL_ADMIN_PASSWORD=admin1234

POSTGRES_SERVER=ap-south-1.pooler.supabase.com
POSTGRES_PORT=5432
POSTGRES_USER=postgres.eizowgupqtyikonkaxqa
POSTGRES_PASSWORD=T-Shirt-DB123
POSTGRES_DB=postgres

AUTH_COOKIE_SECURE=false