--
-- PostgreSQL database dump
--

\restrict z8gv3htVrTD3upl7kXtgSEzZ1Hg0RA5rUeNmihwHobpD6K7Qg5gDdccFLAfhoer

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: product_status_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.product_status_enum AS ENUM (
    'draft',
    'published',
    'archived'
);


ALTER TYPE public.product_status_enum OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.admins (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.admins OWNER TO admin;

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_id_seq OWNER TO admin;

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO admin;

--
-- Name: banners; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.banners (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    subtitle character varying(500),
    banner_image character varying(500),
    cta_text character varying(100),
    cta_link character varying(500),
    placement character varying(50) DEFAULT 'hero'::character varying NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.banners OWNER TO admin;

--
-- Name: banners_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.banners_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.banners_id_seq OWNER TO admin;

--
-- Name: banners_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.banners_id_seq OWNED BY public.banners.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(20),
    dob date,
    password_hash character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    tags character varying(500),
    notes text,
    city character varying(100),
    state character varying(100),
    country character varying(100),
    updated_at timestamp with time zone
);


ALTER TABLE public.customers OWNER TO admin;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO admin;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: offers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.offers (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    percentage character varying(50),
    description text,
    banner_image character varying(500),
    status character varying(20) DEFAULT 'saved'::character varying NOT NULL,
    start_date date,
    end_date date,
    start_time time without time zone,
    end_time time without time zone,
    published_at timestamp without time zone,
    expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.offers OWNER TO admin;

--
-- Name: offers_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.offers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.offers_id_seq OWNER TO admin;

--
-- Name: offers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.offers_id_seq OWNED BY public.offers.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    order_number character varying(50) NOT NULL,
    ordered_at timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone,
    customer_name character varying(255),
    customer_email character varying(255),
    customer_phone character varying(20),
    address_line1 character varying(255),
    address_line2 character varying(255),
    city character varying(100),
    state character varying(100),
    country character varying(100),
    pincode character varying(20),
    product_name character varying(255),
    product_image character varying(500),
    size character varying(50),
    color character varying(100),
    quantity integer,
    price double precision,
    total_amount double precision,
    payment_method character varying(50),
    payment_status character varying(50),
    tracking_status character varying(50),
    tracking_note text,
    delivery_days integer DEFAULT 5,
    expected_delivery_date timestamp without time zone
);


ALTER TABLE public.orders OWNER TO admin;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO admin;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: product_variants; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.product_variants (
    id integer NOT NULL,
    product_id integer NOT NULL,
    sku character varying(120) NOT NULL,
    size character varying(50) NOT NULL,
    color character varying(50),
    color_hex character varying(7),
    original_price numeric(10,2) NOT NULL,
    selling_price numeric(10,2) NOT NULL,
    discount_percentage numeric(5,2) NOT NULL,
    stock_quantity integer NOT NULL,
    low_stock_threshold integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_variant_orig_price_pos CHECK ((original_price > (0)::numeric)),
    CONSTRAINT ck_variant_sell_lte_orig CHECK ((selling_price <= original_price)),
    CONSTRAINT ck_variant_sell_price_pos CHECK ((selling_price > (0)::numeric)),
    CONSTRAINT ck_variant_stock_nonneg CHECK ((stock_quantity >= 0))
);


ALTER TABLE public.product_variants OWNER TO admin;

--
-- Name: product_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.product_variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_variants_id_seq OWNER TO admin;

--
-- Name: product_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.product_variants_id_seq OWNED BY public.product_variants.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.products (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    description text,
    collection character varying(255),
    tags json NOT NULL,
    status public.product_status_enum NOT NULL,
    is_featured boolean NOT NULL,
    thumbnail character varying(500),
    seo_title character varying(255),
    seo_description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.products OWNER TO admin;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO admin;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Name: banners id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.banners ALTER COLUMN id SET DEFAULT nextval('public.banners_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: offers id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.offers ALTER COLUMN id SET DEFAULT nextval('public.offers_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: product_variants id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_variants ALTER COLUMN id SET DEFAULT nextval('public.product_variants_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.admins (id, name, email, password_hash, role, created_at, updated_at) FROM stdin;
1	Admin	admin@mail.com	$2b$12$i548GzBw4pWIlebOE47txOyt9Na3Ql9NAVGi5g/9/gOk7htxXoRdW	superadmin	2026-06-13 07:27:53.107635+00	2026-06-13 08:17:06.438854+00
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alembic_version (version_num) FROM stdin;
f6a7b8c9d0e1
\.


--
-- Data for Name: banners; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.banners (id, title, subtitle, banner_image, cta_text, cta_link, placement, sort_order, is_active, created_at, updated_at) FROM stdin;
1	pongal sa;e	\N	/uploads/banners/9382c526be314318b6f836d8e944ea2e.jpeg	nffnfn	jrjr	hero	3	t	2026-06-13 07:50:28.818658	2026-06-13 07:50:28.818667
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.customers (id, first_name, last_name, email, phone, dob, password_hash, created_at, is_active, tags, notes, city, state, country, updated_at) FROM stdin;
\.


--
-- Data for Name: offers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.offers (id, title, percentage, description, banner_image, status, start_date, end_date, start_time, end_time, published_at, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.admins_id_seq', 1, true);


--
-- Name: banners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.banners_id_seq', 1, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.customers_id_seq', 1, false);


--
-- Name: offers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.offers_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, true);


--
-- Name: product_variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.product_variants_id_seq', 12, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.products_id_seq', 5, true);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: banners banners_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT banners_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: offers offers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.offers
    ADD CONSTRAINT offers_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: product_variants product_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: product_variants uq_variant_product_size_color; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT uq_variant_product_size_color UNIQUE (product_id, size, color);


--
-- Name: ix_admins_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_admins_email ON public.admins USING btree (email);


--
-- Name: ix_admins_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_admins_id ON public.admins USING btree (id);


--
-- Name: ix_banners_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_banners_id ON public.banners USING btree (id);


--
-- Name: ix_banners_is_active; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_banners_is_active ON public.banners USING btree (is_active);


--
-- Name: ix_banners_placement; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_banners_placement ON public.banners USING btree (placement);


--
-- Name: ix_customers_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_customers_email ON public.customers USING btree (email);


--
-- Name: ix_customers_email_trgm; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_customers_email_trgm ON public.customers USING gin (email public.gin_trgm_ops);


--
-- Name: ix_customers_first_name_trgm; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_customers_first_name_trgm ON public.customers USING gin (first_name public.gin_trgm_ops);


--
-- Name: ix_customers_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_customers_id ON public.customers USING btree (id);


--
-- Name: ix_customers_is_active; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_customers_is_active ON public.customers USING btree (is_active);


--
-- Name: ix_customers_last_name_trgm; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_customers_last_name_trgm ON public.customers USING gin (last_name public.gin_trgm_ops);


--
-- Name: ix_offers_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_offers_id ON public.offers USING btree (id);


--
-- Name: ix_offers_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_offers_status ON public.offers USING btree (status);


--
-- Name: ix_orders_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_orders_id ON public.orders USING btree (id);


--
-- Name: ix_orders_order_number; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_orders_order_number ON public.orders USING btree (order_number);


--
-- Name: ix_product_variants_color; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_product_variants_color ON public.product_variants USING btree (color);


--
-- Name: ix_product_variants_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_product_variants_id ON public.product_variants USING btree (id);


--
-- Name: ix_product_variants_product_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_product_variants_product_id ON public.product_variants USING btree (product_id);


--
-- Name: ix_product_variants_size; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_product_variants_size ON public.product_variants USING btree (size);


--
-- Name: ix_product_variants_sku; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_product_variants_sku ON public.product_variants USING btree (sku);


--
-- Name: ix_product_variants_stock_quantity; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_product_variants_stock_quantity ON public.product_variants USING btree (stock_quantity);


--
-- Name: ix_products_collection; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_collection ON public.products USING btree (collection);


--
-- Name: ix_products_collection_trgm; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_collection_trgm ON public.products USING gin (collection public.gin_trgm_ops);


--
-- Name: ix_products_created_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_created_at ON public.products USING btree (created_at);


--
-- Name: ix_products_deleted_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_deleted_at ON public.products USING btree (deleted_at);


--
-- Name: ix_products_deleted_status_created; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_deleted_status_created ON public.products USING btree (deleted_at, status, created_at);


--
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- Name: ix_products_is_featured; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_is_featured ON public.products USING btree (is_featured);


--
-- Name: ix_products_slug; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_slug ON public.products USING btree (slug);


--
-- Name: ix_products_slug_trgm; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_slug_trgm ON public.products USING gin (slug public.gin_trgm_ops);


--
-- Name: ix_products_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_status ON public.products USING btree (status);


--
-- Name: ix_products_title_trgm; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_products_title_trgm ON public.products USING gin (title public.gin_trgm_ops);


--
-- Name: ix_variant_product_stock; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_variant_product_stock ON public.product_variants USING btree (product_id, stock_quantity);


--
-- Name: ix_variants_sku_trgm; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_variants_sku_trgm ON public.product_variants USING gin (sku public.gin_trgm_ops);


--
-- Name: uq_products_slug_active; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX uq_products_slug_active ON public.products USING btree (slug) WHERE (deleted_at IS NULL);


--
-- Name: product_variants product_variants_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict z8gv3htVrTD3upl7kXtgSEzZ1Hg0RA5rUeNmihwHobpD6K7Qg5gDdccFLAfhoer

